:root {
  --sl-color-accent-low: #2e1065;
  --sl-color-accent: #7c3aed;
  --sl-color-accent-high: #c4b5fd;
  --sl-color-white: #ffffff;
  --sl-color-gray-1: #e4e4e7;
  --sl-color-gray-2: #a1a1aa;
  --sl-color-gray-3: #71717a;
  --sl-color-gray-4: #52525b;
  --sl-color-gray-5: #27272a;
  --sl-color-gray-6: #18181b;
  --sl-color-black: #0a0a0f;
  --sl-font: 'Inter', ui-sans-serif, system-ui, sans-serif;
}
:root[data-theme='light'] {
  --sl-color-accent-low: #ede9fe;
  --sl-color-accent: #7c3aed;
  --sl-color-accent-high: #4c1d95;
}
